/**
* CONTENTS
*
* SETTINGS
* Global...............Globally-available variables and config.
*
* BASE
* Headings.............H1–H6 styles.
* Paragraphs...........Paragraph styles.
*
* Universal
* Container Primitives...Wrapping and constraining elements.
* Font Primitives.......Generic font styles.
*
* COMPONENTS
* Page-head............The main page header.
* Page-foot............The main page footer.
* Buttons..............Button elements.
*
* Media queries
* Medium...............Media queries for medium screens
*
*/

/*------------------------------------*\
 Settings
\*------------------------------------*/

:root {
  --primary-light: #f7ede2;
  --secondary-light: #f5cac3;
  --another-light: #fcf8f5;
  --primary-dark: #f28482;
  --secondary-dark: #84a59d;
  --header-font: "PT Serif", serif;
  --paragraph-font: "Playfair Display", serif;
}

/*------------------------------------*\
 Base
\*------------------------------------*/

body {
  background: var(--primary-light);
  font-family: var(--paragraph-font);
}

h1 {
  text-align: center;
  font-family: var(--header-font);
  font-size: 3rem;
}

p {
  font-size: 0.8rem;
}

/*------------------------------------*\
 Universal
\*------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

/*------------------------------------*\
Components
\*------------------------------------*/

.header {
  background-color: var(--primary-dark);
  height: 3rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  margin-bottom: 2rem;
}

.header__link {
  background-color: var(--secondary-light);
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 5px;
}

.main__row {
  display: flex;
  flex-wrap: wrap;
}

.main__image-container {
  color: var(--another-light);
  width: 45%;
  height: 25rem;
  box-sizing: border-box;
  margin: 1rem auto;
  overflow: hidden;
  padding: 0;
  background-color: var(--primary-dark);
}

.main__image {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.main__username {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  font-style: italic;
}

.main__description {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.main__image-description {
  font-size: 1.2rem;
  font-weight: 400;
  background-color: var(--primary-dark);
  padding: 1rem;
  box-sizing: border-box;
  height: 30%;
}

.main__description-container {
  width: 50%;
  box-sizing: border-box;
  padding: 1rem;
}

.header__title {
  color: #fa5b52;
  padding: 2rem;
}

textarea {
  caret-color: transparent;
  resize: none;
}

.form__title {
  padding: 2rem;
  font-size: 2.5rem;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  text-align: center;
}

input,
textarea {
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--another-light);
  margin: 1rem auto;
}
.bottom_border {
  border: none;
  border-bottom: 2px solid var(--secondary-dark);
}

.file_input {
  display: none;
}

.form_btn {
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 3px;
}

.file_input_label {
  padding: 10px 15px;
  background-color: var(--secondary-dark);
}

.submit_btn {
  margin-top: 1em;
  padding: 10px 15px;
  background-color: var(--primary-dark);
}

[aria-invalid="true"] {
  border-color: red;
}
[aria-invalid="true"] + * {
  color: red;
}
[aria-invalid="true"] + *::before {
  content: "⚠️ ";
}

/*------------------------------------*\
 Media queries
\*------------------------------------*/

@media screen and (min-width: 1000px) {
}
